@model eShop.Domain.Conference.Web.EditSeat.SeatTypeFormDTO

@{
    Layout = null;
}

<tr data-pkey="@Model.Id">
  @Html.HiddenFor(model => model.ConferenceId)
  @Html.HiddenFor(model => model.Id)
  <td>
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
  </td>
  <td>
    @Html.EditorFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)
  </td>
  <td>
    @Html.EditorFor(model => model.Quantity)
    @Html.ValidationMessageFor(model => model.Quantity)
  </td>
  <td>
    @Html.EditorFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
  </td>
  <td>
    <button class="form__but editRow">
      Save
    </button>
    <button class="form__but cancelEditRow">
      Cancel
    </button>
  </td>
</tr>